.header {
  .site-title {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    gap: 0.5rem;
    max-width: 1000px;
    margin: auto;
    padding: 0 1rem;

    @media (min-width: $screen-small) {
      grid-template-columns: 3fr 1fr;
      gap: 2rem;
    }

    h1 {
      font-weight: bold;
      font-size: 1.3rem;
      text-align: center;

      @media (min-width: $screen-small) {
        font-size: 2rem;
        text-align: left;
      }
    }

    img {
      max-height: 150px;
      width: auto;
      display: none;
      @media (min-width: $screen-small) {
        display: block;
      }
    }

    .small-only {
      display: block;
      margin: auto;
      @media (min-width: $screen-small) {
        display: none;
      }
      img {
        display: block;
        max-height: 100px;
      }
    }
  }

  .menu-main-menu-container {
    background: var(--nav-bg);
    margin: 0 0 1rem;
    padding: 0;
    display: none;

    @media (min-width: $screen-small-medium) {
      display: block;
    }

    .menu-item {
      padding: 0.5rem;
    }

    .current-menu-item:not(.search) {
      background: var(--accent-1);
      a {
        color: white;
      }
    }
  }

  .menu {
    display: flex;
    list-style: none;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    justify-content: space-evenly;
    a {
      color: var(--accent-1);
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .search a {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url(../images/search.svg);
      background-size: contain;
      width: 20px;
      height: 20px;
    }
  }

  .mobile-toggle {
    visibility: hidden;
  }

  .mobile-toggle + label {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 11;
    content: "";
    background-image: url(../images/bars-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;

    @media (min-width: $screen-small-medium) {
      display: none;
    }
  }

  .mobile-toggle:checked + label {
    background-image: url(../images/xmark-solid.svg);
  }

  .mobile-toggle:not(:checked) ~ .mobile-menu-container .mobile-menu {
    z-index: -1;
  }

  .mobile-toggle:checked ~ .mobile-menu-container .mobile-menu {
    opacity: 1;
    z-index: 10;
  }

  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 3rem 1rem 1rem;
    background: white;
    list-style: none;
    transition: 0.5s opacity ease-in-out, 0.5s z-index ease-in-out;

    li {
      // margin-bottom: 10px;
      padding: 10px 0;
    }

    .search {
      position: absolute;
      top: 5px;
      right: 89px;
    }

    .current-menu-item:not(.search) {
      background: var(--accent-1);
      margin: 0 -1rem;
      padding: 10px 1rem;
      a {
        color: white;
      }
    }

    @media (min-width: $screen-small-medium) {
      display: none;
    }
  }
}
