.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  overflow-x: hidden;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

.wp-block-column {
  margin-left: 0;
}
.wp-block-columns {
  margin-bottom: 0;
}

.limit {
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container .content, .footer {
  .auto-grid.wp-block-columns {
    flex-wrap: wrap;
    margin: 0 auto;
  
    > .wp-block-column {
      flex-basis: 100%;
  
      @media (min-width: $screen-xs) {
        flex-basis: 50% !important;
      }
  
      @media (min-width: $screen-medium) {
        flex-basis: 0 !important;
        flex-grow: 1 !important;
      }
    }
  }
  .blog-grid {
    .wp-block-post {
      width: 100% !important;
      @media (min-width: $screen-small) {
        width: calc(50% - 1rem) !important;
      }
      @media (min-width: $screen-medium) {
        width: calc(33.33333% - .83333em) !important;
      }
    }
  }
}
