.white-links {
  a {
    color: white;
    text-decoration: none;
  }
}

.black-links {
  a {
    color: black;
  }
}

.ted-x {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/tedx.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    z-index: 2;
    top: 0;
    left: 0;
  }
}

.wp-block-button {
  .wp-block-button__link {
    background: var(--accent-4);
    color: black;
    border-radius: 5px;
  }
}

.wp-block-video.video {
  max-width: 600px;
}

.gap.wp-block-columns {
  gap: 1rem;
}

.book-series.wp-block-columns {
  max-width: 1250px;
  padding-bottom: 2rem;

  h3 {
    margin-bottom: 4px;
  }

  p {
    margin: 0;
  }

  img {
    height: 250px;
    width: auto;
  }

  a {
    display: block;
    padding: 8px 0;
    @media (min-width: $screen-small-medium) {
      padding: 2px 0;
    }
  }

  .wp-block-image {
    text-align: center;
  }
}

.book-series-titles {
  max-width: 1250px;
  margin: auto;
  display: none;

  h2 {
    margin-bottom: 0;
  }

  @media (min-width: $screen-medium) {
    display: flex;
  }
}

.videos {
  max-width: 1500px;
  margin: auto;

  .wp-block-cover {
    min-height: unset;
    height: 300px;

    @media (min-width: $screen-xs) {
      height: 50vw;
    }

    @media (min-width: $screen-medium) {
      height: 25vw;
    }

    @media (min-width: $screen-large) {
      height: 375px;
    }
  }

  & > *:last-child {
    h3 {
      margin: 1rem 0;
      @media (min-width: $screen-xs) {
        margin: 0;
      }
      @media (min-width: $screen-small) {
        margin: 1rem 0;
      }
    }
  }
}

.bottom-text {
  .wp-block-cover__inner-container a {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: calc(100% - 2rem);
  }
}

.content {
  h1 {
    font-size: 1.8rem;
  }
}

.splide {
  max-width: 1000px;
  margin: 0 auto 3rem;
  padding: 0 4rem 0;
  text-align: center;
  min-height: 100px;
  position: relative;

  .splide__pagination {
    bottom: -1.5rem;
    display: none;
    @media (min-width: $screen-small) {
      display: flex;
    }
  }
}

.splide__list {
  align-items: center;
}

.splide-questions.splide--slide {
  max-width: 1000px;
  position: relative;
  margin: 1rem auto 3rem;

  .question {
    margin: 0;
    p {
      font-size: 1.4rem;
      padding: 0 3rem;
      margin: 0;
      text-align: center;
    }
  }

  .splide__pagination {
    bottom: -22px;
    display: none;
    @media (min-width: $screen-small) {
      display: flex;
    }
  }
}

.blog-grid {
  img.wp-post-image {
    height: 100px;
    width: auto;
  }

  .wp-block-post-featured-image {
    text-align: center;
  }

  &.featured {
    ul {
      background: var(--nav-bg);
      padding: 1rem 2rem;
      margin: 0 -2rem 2rem;
      max-width: unset;
    }
  }

  .page-numbers {
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding-top: 4px;
    &.current {
      background: var(--accent-1);
      color: white;
    }
  }
}

.wp-block-tag-cloud.tags {
  a {
    font-size: 1.2rem !important;
    margin-right: 10px;
    &:not(:last-of-type)::after {
      content: ",";
    }
  }
}

.what-why-how {
  h2 {
    margin-top: 0;
  }
  .wp-block-image {
    max-width: 100px;
    margin: auto;
    @media (min-width: $screen-small-medium) {
      max-width: 100%;
    }
  }
}

.organisations {
  p {
    margin: 0;
  }
}

.share-examples {
  img {
    height: 20px;
  }
}

.search-form {
  text-align: center;
  margin: 2rem 0 3rem;
  input[type="text"],
  input[type="submit"] {
    height: 3rem;
  }
  input[type="submit"] {
    background: var(--accent-4);
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
}

.colour-1,
.colour-1 a {
  color: var(--accent-1);
}
.colour-2,
.colour-2 a {
  color: var(--accent-2);
}
.colour-2b,
.colour-2b a {
  color: var(--accent-2b);
}
.colour-3,
.colour-3 a {
  color: var(--accent-3);
}
.colour-4,
.colour-4 a {
  color: var(--accent-4);
}
.bg-1 {
  background: var(--accent-1);
}
.bg-2 {
  background: var(--accent-2);
}
.bg-3 {
  background: var(--accent-3);
}
.bg-4 {
  background: var(--accent-4);
}
.grey-bg {
  background: var(--nav-bg);
}
.white-bg {
  background: white;
}
.image-middle img {
  vertical-align: middle;
}

body {
  font-size: 1.2rem;
}

a {
  color: var(--accent-1);
  text-decoration: none;
}
