
.testimonial-card {
  padding: 0;
  margin: 0 0 2rem 15%;
  background: rgba(0,0,0,0.05);
  border: 6px solid var(--accent-4);
  width: 80%;

  > * {
    padding: 20px 1.5rem;
  }

  .quote {
    background: var(--accent-4);
    font-weight: bold;
    color: black;
    margin: 0;
  }

  .source {
    margin: 0;
  }

  &:nth-child(4n+1) {
    border-color: var(--accent-1);
    .quote {
      background: var(--accent-1);
      color: white;
    }
  }
  &:nth-child(4n+2) {
    border-color: var(--accent-2);
    .quote {
      background: var(--accent-2);
    }
  }
  &:nth-child(4n+3) {
    border-color: var(--accent-3);
    .quote {
      background: var(--accent-3);
      color: white;
    }
  }
  
  &:nth-child(3n+1) {
    margin-left: 5%;
  }
  
  &:nth-child(3n+2) {
    margin-left: 20%;
  }
  
  &:nth-child(3n+3) {
    margin-left: 10%;
  }
}