:root {
  --accent-1: #2a3b8e;
  --accent-2: #49a798;
  --accent-3: #5f264f;
  --accent-4: #f2b11e;
  --nav-bg: #efefef;
  --link-colour: #f2b11e;
  --wp--style--block-gap: 0;
}

$screen-xs: 400px;
$screen-small: 600px;
$screen-medium: 1000px;
$screen-large: 1500px;